* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
 /* background-color: black; */
}

body {
   background-color: black;
}

.home-button {
  margin: 10px;
  background-color: black;
  color: greenyellow
}

.site-title {
  text-align: center;
  padding: 10px;
  color: greenyellow;
}

  .card, img {
  display: block;
  align-self: center;
  width: 40rem;
  height: 40rem;
  /* padding: 10px; */
  font-size: medium;
  color: whitesmoke;
  background-color: black;
}

.movie-poster {
  width: 9rem;
  height: 11rem;
}

.all-movies-container {
  display: grid;
  margin: 2rem;
  justify-items: stretch;
  padding: 0 3.0rem;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4,calc(25% - .75 * 0.5rem - 0rem));
  font-size: 0.8rem; 
  color: whitesmoke;
}




