* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.home-button {
  margin: 10px;
  color: greenyellow
}

.site-title {
  text-align: center;
  padding: 10px;
  color: greenyellow;
}

.card, img {
  display: block;
  width: 40rem;
  height: 40rem;
  padding: 10px;
  font-size: smaller;
  color: whitesmoke;
}

.movie-poster {
  width: 8rem;
  height: 10rem;
}

.all-movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: smaller;
  color: whitesmoke;
}




